body {
  color: #777777;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../images/vertical-waves.png");
  background-repeat: repeat;
}

a {
  all: none;
}

#nav {
  margin: 0px;
  border: 5px;
  border-color: #cccccc;
  background-color: #ffffff;
  border-bottom-style: solid;
  padding: 18px;
  font-family: Georgia;
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
}

#welcome {
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  margin-left: 10%;
  padding: 18px 30px 18px 30px;
  font-size: 35px;
  font-weight: 800;
  overflow: hidden;
}

#links {
  margin-right: 15%;
  float: right;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 200;
}

#about {
  padding: 0 15 0 15;
}

#portfolio {
  padding: 0 15 0 15;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #cccccc;
}

#contact {
  padding: 0 15 0 15;
}

a:link {
  text-decoration: none;
  color: #777777;
}

a:visited {
  text-decoration: none;
  color: #777777;
}

a:hover {
  text-decoration: none;
  color: purple;
}

a:active {
  text-decoration: none;
  color: #777777;
}
/*BODY BODY BODY BODY BODY BODY  */

#content {
  background: #ffffff;
  font-family: "Times New Roman", Times, sans-serif;
  line-height: 18px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border: solid #dddddd;
  width: 960px;
  position: relative;
  top: 100px;
  overflow: auto;
}

#heading {
  padding: 5px 0px 5px 30px;
  color: #4aaaa5;
}

#words {
  padding: 20px 20px;
  border-top: 2px gray solid;
  border-left: solid 20px #ffffff;
  border-right: solid 20px #ffffff;
  font-size: 20;
}

/* CONTACT CONTACT CONTACT CONTACT CONTACT */
input {
  width: 740px;
  height: 25px;
  display: block;
  font-size: 20px;
  margin: 10 0 10 0;
}

#message {
  height: 200px;
}

#submit {
  margin: 15px;
  width: 150px;
  background-color: #4aaaa5;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}

footer {
  margin: auto;
  background-color: #666666;
  border-color: #4aaaa5;
  border-top-style: solid;
  border-top-width: 8px;
  left: 0;
  height: 50px;
  width: 100%;
  font-family: Georgia;
  bottom: 0;
  position: fixed;
  text-align: center;
  font-size: 12px;
  color: white;
}

/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

#aboutpic {
  height: 30%;
  /* display: inline; */
  float: left;
  padding: 15px;
}
/* PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO */

.portfoliopics {
  width: 200px;
  height: 250px;
  margin: 40 45 40 45;
  position: relative;
  border: black 1px solid;
}

#hangman-text-block {
  position: relative;
  top: -90;
  right: 252;
  background-color: #4aaaa5;
  color: white;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  padding: 15 59 15 59;
  text-align: center;
}

#rpggame-text-block {
  position: relative;
  left: 543;
  top: -105;
  width: 200px;
  height: 30px;
  background-color: #4aaaa5;
  color: white;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding: 15 55 15 55px;
  text-align: center;
}

#trivia-text-block {
  position: relative;
  top: -90;
  right: 252;
  background-color: #4aaaa5;
  color: white;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  padding: 15 75 15 75;
  text-align: center;
}

#rutgers-text-block {
  position: relative;
  font-size: 19;
  left: 544;
  top: -105;
  background-color: #4aaaa5;
  color: white;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding: 15 24 15 24;
  text-align: center;
}

#rockpaper-text-block {
  position: relative;
  right: 253;
  top: -100;
  background-color: #4aaaa5;
  color: white;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding: 15 20 15 20px;
  text-align: center;
}
